.sch-area {
  padding-left: 20px;
  padding-right: 20px;
}

.sch-wrap {
  position: relative;
  height: 52px;
  padding: 1px;
  background: linear-gradient(105deg, #03cf5d, #03c75a 100%);
  border-radius: 26px;
  box-shadow: 0 5px 10px 0 rgb(117 145 181 / 12%);
  box-sizing: border-box;
}

.sch-inner-wrap {
  display: block;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #fff;
  border-radius: 29px;
}

.sch-inner {
  min-height: 550px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
}

.sch-logo {
  position: relative;
  height: 39px;
  margin-top: 5px;
  margin-left: 12px;
}

.sch-input {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 22px;
  padding-top: 14px;
  padding-left: 10px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #1e1e23;
  border: 0;
  outline: transparent;
}

input::placeholder {
  color: rgb(189 195 199);
}

.sch-mike {
  height: 30px;
  padding-top: 10px;
  padding-right: 7px;
}

.list-area {
  display: block;
  margin: 0 auto;
}

.list-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 313px;
  height: 152px;
  margin: 0 auto;
  padding: 13px 0 37px;
}

.list-item {
  padding: 11px 4.57vw 0 4.56vw;
}

.list-item > img {
  width: 44px;
  filter: drop-shadow(2px 2px 1px rgb(117 145 181 / 8%));
  display: block;
  margin: 0 auto;
}

.list-item > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 6px;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.55px;
  color: #1e1e23;
  text-align: center;
}
